/*
 * HEADER CONTROL BUTTONS (FAR RIGHT)
 */
#headerControls .buttonDashboard {
	background: url("../images/icons/icondashboard.png") no-repeat;	
}

#headerControls .buttonSettings {
	background: url("../images/icons/iconsettings.png") no-repeat;
    margin-top: -1px;
}

#headerControls .buttonHelp {
	background: url("../images/icons/iconhelp.png") no-repeat;	
}

#headerControls .buttonAdmin {
	background: url("../images/icons/buttonHeadAdmin.png") no-repeat;
}

#headerControls .buttonLanguage {
	background: url("../images/icons/iconlanguage.png") no-repeat;
}

#headerControls .buttonBugs {
	background: url("../images/icons/iconbugs.png") no-repeat;	
	width: 27px !important;
	height: 22px;	
}

#headerControls .buttonLogout {
	background: url("../images/icons/iconlogout.png") no-repeat;	
}

.buttonExpand {
    display: block;
    float: left;
    height: 26px;
    text-decoration: none;
    cursor: pointer;
    color: #333;
	font: bold 12px arial !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
    padding: 0 6px 0 6px;
}

	.buttonExpand span {
        display: block;
        height: 17px;
		padding-left: 20px;
	}
    
    .buttonExpand.action {
        background: transparent url('../images/bgButtonBlueGray.png') repeat-x;
        border: 1px solid #808080;
    }
    .buttonExpand.action:hover {
        background-position: 0 -24px;
        border: 1px solid #7d98b8;
    }
    .buttonExpand.cancel {
        background: transparent url('../images/bgButtonYellow.png') repeat-x;
        border: 1px solid #ffcc00;
    }
    .buttonExpand.cancel:hover {
        background-position: 0 -24px;
        border: 1px solid #ffcc00;
    }
    .buttonExpand.alert {
        background: transparent url('../images/bgButtonRed.png') repeat-x;
        border: 1px solid #d74a4a;
    }
    .buttonExpand.alert:hover {
        background-position: 0 -24px;
        border: 1px solid #cc3333;
    }
    
    .buttonExpand.green {
		background: url("../images/bgButtonGreen.png") repeat-x;
        border: 1px solid #90c223;
	}
    .buttonExpand.green:hover {
		background-position: 0 -25px;
        border: 1px solid #90c223;
	}

    .yellowGray {
		background: url("../images/bgButtonYellowGrayRight.png") no-repeat top right;
	}
	.buttonExpand span.yellowGray {
          background: transparent url('../images/bgButtonYellowGrayLeft.png') no-repeat;
	}

	.buttonExpand span.attach {
	       background: url(../images/icons/attach.png) no-repeat;
	}
	.buttonExpand span.add, .buttonExpand span.add2, .buttonExpand span.add3, .buttonExpand span.add4 {
	       background: url(../images/icons/add.png) no-repeat;
	}
	.buttonExpand span.cancel {
	       background: url(../images/icons/delete.png) no-repeat;
	}
	.buttonExpand span.close {
	       background: url(../images/icons/exclamation.png) no-repeat;
	}
	.buttonExpand span.commentAdd {
	       background: url(../images/icons/comment_add.png) no-repeat;
	}
	.buttonExpand span.delete, .buttonExpand span.delete2 {
	       background: url(../images/icons/cross.png) no-repeat;
	}
	.buttonExpand span.edit, .buttonExpand span.edit2 {
	       background: url(../images/icons/pencil.png) no-repeat;
	}
	.buttonExpand span.email, .smallButton span.email {
	       background: url(../images/icons/email.png) no-repeat;
	}
    .smallButton span.email {
        background: url(../images/icons/email.png) 3px 2px no-repeat;
    }    
    .buttonExpand span.print {
	       background: url(../images/icons/printer.png) no-repeat;
	}
	.buttonExpand span.folderOpen, .smallButton span.upload {
	       background: url(../images/icons/folder_page.png) no-repeat;
	}
    .buttonExpand span.folderNew, .smallButton span.folderNew {
	       background: url(../images/icons/iconNewFolder.png) no-repeat;
	}
	.buttonExpand span.login {
	       background: url(../images/icons/key_go.png) no-repeat;
	}
	.buttonExpand span.ok {
	       background: url(../images/icons/accept.png) no-repeat;
	}
	.buttonExpand span.save {
	       background: url(../images/icons/disk.png) no-repeat;
	}
	.buttonExpand span.search,  .smallButton span.search {
	       background: url(../images/icons/magnifier.png) 2px 1px no-repeat;
	}
	.buttonExpand span.star {
	       background: url(../images/icons/asterisk_orange.png) no-repeat;
	}
	.buttonExpand span.update {
	       background: url(../images/icons/arrow_refresh.png) no-repeat;
	}
	.buttonExpand span.chart, .smallButton span.chart {
	       background: url(../images/icons/chart.png) no-repeat;
	}
    .buttonExpand span.flagBlue {
	       background: url(../images/icons/flag_blue.png) no-repeat;
	}
	.buttonExpand span.invoice {
		background: url(../images/icons/iconInvoiceSmall.png) no-repeat;
	}
    .buttonExpand span.dashboard {
		background: url(../images/icons/dashboard--plus.png) no-repeat;
	}
	.buttonExpand span.exportExcel {
		background: url(../images/icons/mime/document_excel.png) no-repeat;
	}
    .buttonExpand span.export {
		background: url(../images/icons/iconExport.png) no-repeat;
	}
    .buttonExpand span.upload, .smallButton span.upload {
	       background: url(../images/icons/iconUpload.png) 2px 1px no-repeat;
	}
	.buttonExpand span.busy, .smallButton span.busy {
	       background: url(../images/icons/spinner.gif) no-repeat;
	}
    .buttonExpand span.bug, .smallButton span.bug {
	       background: url(../images/icons/bug.png) no-repeat;
	}
    .buttonExpand span.moneyAdd, .smallButton span.moneyAdd {
	       background: url(../images/icons/money--plus.png) 3px 2px no-repeat;
	}
    .buttonExpand span.money, .smallButton span.money {
	       background: url(../images/icons/money-coin.png) 3px 2px no-repeat;
	}
    .buttonExpand span.contacts, .smallButton span.contacts {
	       background: url(../images/icons/card-address.png) no-repeat;
	}
    .buttonExpand span.ical {
	       background: url(../images/icons/calendar-ical.png) no-repeat;
	}
    .buttonExpand span.import {
	       background: url(../images/icons/database-import.png) no-repeat;
           padding-left: 30px;
	}
    .buttonExpand span.accountUpdate {
	       background: url(../images/icons/briefcase--plus.png) no-repeat;
	}
    .buttonExpand span.creditCardEdit {
	       background: url(../images/icons/credit-card--pencil.png) no-repeat;
	}
    .buttonExpand span.expense, .smallButton span.expense {
        background: url("../images/icons/box-coins.png") 3px 2px no-repeat;
    }
    .buttonExpand span.timesheet, .smallButton span.timesheet {
        background: url("../images/icons/application-table.png") 3px 2px no-repeat;
    }
    .buttonExpand span.renew, .smallButton span.renew {
	       background: url(../images/icons/arrow-circle-double.png) no-repeat;
	}

.smallButtonCluster {
	list-style: none;
    position: absolute;
    -moz-box-shadow:    0px 0px 2px 0px #ccc;
    -webkit-box-shadow: 0px 0px 2px 0px #ccc;
    box-shadow:         0px 0px 2px 0px #ccc;
}	  

    .topRight {
        top: 6px;
        right: 6px;
        float: right;
    }

    .bottomLeft {
        bottom: 6px;
        left: 6px;
    }

    .bottomRight {
        bottom: 6px;
        right: 6px;
        float: right;
    }

.smallButtonCluster li {
    float: left;
    border: 1px solid #c4c4c5;
	margin-left: -1px;		
}

.smallButtonCluster li.blank {
    float: left;
    border: none;
    background: none;
    height: 24px;
    display: block;
}

.smallButtonCluster li a {
    float: left;
	display: block;
	height: 20px;
	width: 20px;
	text-decoration: none;
	background: url("../images/bgTabGrayBlue.gif") 0 -1px repeat-x;
    border: 1px solid #fff;
}
	.smallButtonCluster li a:hover {
		background-position: 0 -27px;
		text-decoration: none;
	}
	
	.smallButtonCluster li a span {
		height: 20px;
		width: 20px;
		display: block;
	}	

    .smallButtonCluster li span.add, .smallButton span.add {
		background: url(../images/icons/add.png) 2px 2px no-repeat;
	}
	.smallButtonCluster li span.edit, .smallButton span.edit {
		background: url(../images/icons/pencil.png) 2px 2px no-repeat;
	}
	.smallButtonCluster li span.pdf {
		background: url(../images/icons/mime/pdf_document.png) 2px 2px no-repeat;
	}
	.smallButtonCluster li span.delete, .smallButton span.delete {
		background: url(../images/icons/cross.png) 2px 2px no-repeat;
	}
	.smallButtonCluster li span.vcard {
		background: url(../images/icons/vcard.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.vcardRemove {
		background: url(../images/icons/vcard_delete.png) 2px 4px no-repeat;
	}
    .smallButtonCluster li span.vcardAdd {
		background: url(../images/icons/vcard_add.png) 2px 2px no-repeat;
	}
	.smallButtonCluster li span.users {
		background: url(../images/icons/user.png) 2px 2px no-repeat;
	}
	.smallButtonCluster li span.priority {
		background: url(../images/icons/iconPriority.png) 0 0 no-repeat;
	}
    .smallButtonCluster li span.view {
		background: url(../images/icons/magnifier.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.upload {
		background: url(../images/icons/iconUpload.png) 0 0 no-repeat;
	}
	.smallButtonCluster li span.download {
		background: url(../images/icons/drive_web.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.prev {
		background: url(../images/icons/control-180.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.next {
		background: url(../images/icons/control.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.archive {
		background: url(../images/icons/box-label.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.open {
		background: url(../images/icons/folder-open-image.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.thumbnailView {
		background: url(../images/icons/iconThumbnailView.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.listView {
		background: url(../images/icons/iconListView.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.remove {
        background: url(../images/icons/delete.png) 2px 2px no-repeat;
	}

    .smallButtonCluster li span.monthView {
		background: url(../images/icons/calendar-select-month.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.weekView {
		background: url(../images/icons/calendar-select-week.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.dayView {
		background: url(../images/icons/clipboard-list.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.todayView {
		background: url(../images/icons/calendar-select-today.png) 2px 2px no-repeat;
	}
    
    .smallButtonCluster li span.dashboard {
        background: url(../images/icons/dashboard.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.settings {
        background: url(../images/icons/cog.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.account {
        background: url(../images/icons/user16px.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.language {
        background: url(../images/icons/balloon_ellipsis.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.helpbutton {
        background: url(../images/icons/help.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.bugs {
        background: url(../images/icons/bug.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.admin {
        background: url(../images/icons/favorites.png) 2px 2px no-repeat;
	}
    .smallButtonCluster li span.logout {
        background: url(../images/icons/logout.png) 2px 2px no-repeat;
	}

    .smallButton span {
        padding-left: 22px;
    }

    .smallButton span.open {
		background: url(../images/icons/folder-open-image.png) 2px 0px no-repeat;
	}
    .smallButton span.close {
		background: url(../images/icons/iconClose.png) 2px 0px no-repeat;
	}
    .smallButton span.archive {
		background: url(../images/icons/box-label.png) 2px 0px no-repeat;
	}
	.smallButton span.sendMessage {
		background: url(../images/icons/balloon--plus.png) 2px 0px no-repeat;		
	}
	.smallButton span.cancel {
		background: url(../images/icons/delete.png) 2px 0px no-repeat;
	}
	.smallButton span.filter {
		background: url(../images/icons/funnel.png) 2px 0px no-repeat;
	}
	.smallButton span.messages {
		background: url(../images/icons/balloon--plus.png) 2px 0px no-repeat;
	}
    .smallButton span.save {
		background: url(../images/icons/disk--plus.png) 2px 0px no-repeat;
	}
	.smallButton span.clearTimer {
		background: url(../images/icons/clock--minus.png) 2px 0px no-repeat;
	}
    .smallButton span.delete {
		background: url(../images/icons/cross.png) 2px 0px no-repeat;
	}
	.smallButton span.listView {
		background: url(../images/icons/application-list.png) 2px 0px no-repeat;
	}
    .smallButton span.prev {
		background: url(../images/icons/control-180.png) 2px 0px no-repeat;
	}
    .smallButton span.next {
		background: url(../images/icons/control.png) 2px 0px no-repeat;
	}
    .smallButton span.notes {
		background: url(../images/icons/iconnotes_small.png) 2px 0px no-repeat;
	}
    .smallButton span.calendarAdd {
		background: url(../images/icons/calendar--plus.png) 2px 0px no-repeat;
	}
    .smallButton span.ical {
		background: url(../images/icons/calendar-ical.png) 2px 0px no-repeat;
	}
    .smallButton span.clock {
		background: url(../images/icons/clock.png) 2px 0px no-repeat;
	}
    .smallButton span.entry {
		background: url(../images/icons/application-form.png) 2px 0px no-repeat;
	}
    .smallButton span.back {
		background: url(../images/icons/control-180.png) 2px 0px no-repeat;
	}
    .smallButton span.download {
        background: url(../images/icons/drive_web.png) 2px 0px no-repeat;
    }
    .smallButton span.dropdown {
        background: url(../images/icons/chevron.png) 2px 0px no-repeat;
    }
    .smallButton span.timerStop {
		background: url("../images/icons/clock.png") 5px 2px no-repeat;
        display: block;
        height: 22px;
	}
    .smallButton span.timerGo {
		background: url("../images/icons/clock--running.png") 6px 2px no-repeat;
        display: block;
        height: 22px;
	}

.smallButton {
	display: block;
	height: 24px;
    padding: 2px 6px 3px 0;
	border: 1px solid #c4c4c5;
	background: url("../images/bgTabGrayBlue.gif") 0 -1px repeat-x;
	font-size: .9em;
	text-align: center;
	color: #333;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
    .smallButton:active span, .smallButton span {
        outline: none;
    }
    .smallButton:focus {
        -moz-outline-style: none;
    }

	.smallButton span.single {
		background-position: 5px 0px;
        padding-left: 0px;
	}

	.smallButton span {
		display: block;
		min-width: 22px;
		height: 20px;
		outline: none;
	}

	.smallButton:hover {
		background-position: 0 -27px;
		text-decoration: none;
		font-size: .9em;
		text-align: center;
		color: #333;
	}
	
	.smallButtonFocus {
		border: 1px solid #000;
	}

a.smallButton {
     height: 18px;
     /*padding: 0 6px 0 6px;*/
}

.buttonAppSearch {
	float: left;
	cursor: pointer;
	display: block;
	width: 26px;
	height: 26px;
	background: url("../images/buttonSearch.png") no-repeat;
}

.buttonRoundAdd {
	display: block;
	width: 23px;
	height: 23px;
	background: url("../images/buttonAddRound.png") no-repeat;
}

.buttonRoundPlay {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../images/buttonPlayRound.png") no-repeat;
}

.buttonRoundStop {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../images/buttonStopRound.png") no-repeat;
}

/************************************************************/

.buttonCloseSmall {
    display: inline-block;
	background: url(../images/icons/iconClose.png) 2px 0px no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
    margin-right: 10px;
}

.buttonDeleteSmall {
	display: inline-block;
	background: url("../images/icons/deleteSmall.png") left top no-repeat;
	width: 10px;
	height: 10px;
	cursor: pointer;
    margin-right: 10px;
}

.buttonDeleteSmall.right {
    display: inline-block;
	background: url("../images/icons/deleteSmall.png") right no-repeat;
	width: 10px;
	height: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.buttonDeleteSmall.off {
    display: none;
}

.buttonEditSmall {
	display: inline-block;
	background: url("../images/icons/editSmall.png") left no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.buttonEditSmall.right {
    display: inline-block;
	background: url("../images/icons/editSmall.png") right no-repeat;
	width: 10px;
	height: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.buttonEditSmall {
	display: inline-block;
	background: url("../images/icons/editSmall.png") left no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.buttonEditSmall.off {
    display: none;
}

.buttonCheckSmall {
	display: inline-block;
	background: url("../images/icons/checkSmall.png") left no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.buttonCheckSmall.right {
    display: inline-block;
	background: url("../images/icons/checkSmall.png") right no-repeat;
	width: 10px;
	height: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.buttonAddSmall {
	display: inline-block;
	background: url("../images/icons/addSmall.png") left no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.buttonAddSmall.off {
	display: none;
}

.buttonRestoreSmall {
    display: inline-block;
	background: url("../images/icons/restoreSmall.png") left no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.buttonRestoreSmall.off {
    display: none;
}

.buttonPrevious {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url("../images/button_prev.gif") left no-repeat;
}

.buttonNext {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url("../images/button_next.gif") left no-repeat;
}

.link-prev {
    display: block;
    background: url("../images/button_prev.gif") no-repeat;
    width: 17px;
    height: 17px;
	cursor: pointer;
}

.link-prev.off {
	background: url("../images/button_prev_off.gif") no-repeat;
	cursor: auto;
}

.link-next {
    display: block;
    background: url("../images/button_next.gif") no-repeat;
    width: 17px;
    height: 17px;
	cursor: pointer;
}

.link-next.off {
	background: url("../images/button_next_off.gif") no-repeat;
	cursor: auto;
}