#menuContainer {
	height: 56px;
}

#menuMain {
    height: 31px;
    float: left;
    width: 77%;
    margin-left: -21px;
}

    ul#navmenu-h {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
    }

    ul#navmenu-h ul {
        width: 186px;
        background: #ffeb5e;
        border-radius: 7px;
        border-top-left-radius: 0; 
        -moz-box-shadow: 0px 4px 6px #666;
        -webkit-box-shadow: 0px 4px 6px #666;
        box-shadow: 0px 4px 6px #666;
        margin: -3px 0 0 6px;
        list-style: none;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        padding-top: 6px;
    }
    ul#navmenu-h ul ul,ul#navmenu-h ul ul ul {
        top: 0;
        left: 100%;
    }
    ul#navmenu-h li {
        float: left;
        display: inline;
        position: relative;
        margin-right: 4px;
    }
    ul#navmenu-h ul li {
        width: 100%;
        display: block;
        font-weight: bold;
    }
    ul#navmenu-h ul li:last-child {
        margin-bottom: 9px;
    }  

    /* Root Menu */
    ul#navmenu-h li a.buttonMainMenu {
        float: left;
        margin: 3px 6px;
        display: block;       
        text-decoration: none;
    }

    ul#navmenu-h li a.buttonMainMenu.tab:hover, ul#navmenu-h li:hover a.buttonMainMenu.tab {
        color: #333;
        outline: none;
        background: #ffeb5e;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    
    /*
     * Menu items with no sub-menu items
     */    
    ul#navmenu-h li a.buttonMainMenu span {
        color: #fff;
        font: bold 14px Arial, sans-serif;
        display: block;
        line-height: 14px;
        padding: 5px;
    }

    ul#navmenu-h li a.buttonMainMenu:hover span, ul#navmenu-h li:hover a.buttonMainMenu span {
        color: #333;        
        background: #ffeb5e;
        border-radius: 7px;
    }

    /*
     * Submenu link styles
     */
    ul#navmenu-h a:hover, ul#navmenu-h li:hover a, ul#navmenu-h li.iehover a {
        color: #333 !important;
    }
    /* 2nd Menu */
    ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a {
        width: 166px;
        padding-left: 10px;
        margin: 3px 0 0 4px;
        display: block;
        font-weight: bold;
        float: none;
    }
    /* 2nd Menu Hover Persistence */
    ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a {
        background: #F5C322;
        border-radius: 5px;
        width: 168px;
    }

    /* 3rd Menu */
    ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a {
        background: #999;
    }
    /* 3rd Menu Hover Persistence */
    ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a {
        background: #666;
    }
    /* 4th Menu */
    ul#navmenu-h li:hover li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li.iehover li a {
        background: #666;
    }
    /* 4th Menu Hover */
    ul#navmenu-h li:hover li:hover li:hover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover li a:hover {
        background: #333;
    }
    /* Hover Function - Do Not Move */
    ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul {
        display: none;
    }
    ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul {
        display: block;
    }

/*
 ***** TOOLTIP STYLES *****
 */

.tooltip {
   position: absolute;
   z-index: 2;
   display: none;  
}

    .helpTip {
       border: 3px solid #FBED89;
       padding: 8px;
       background: #FFFFD2;
       width: 230px;
       position: absolute;
    }

.tooltipMenuContainer ul {
	list-style: none;
    margin: 3px 0 0 10px;
}			
	
	.tooltipMenuContainer li {
		height: 20px;		
	}

#footerWidgetMenu {
	list-style: none;
	display: inline;
}

	#footerWidgetMenu li {
		float: left;
		display: inline;
		width: 26px;
		height: 24px;
		margin-right: 6px;
		cursor: pointer;
	}

.rightColMenu, .rightColMenu ul {
    width: 228px;
    list-style: none;
}

    .rightColMenu li {
        background: #ebf4fd;
        border: 1px solid #bddbf9;
    }

    .rightColMenu li ul li {
        border: none;
        width: 210px;
    }

    .rightColMenu li a {
        display: block;
        width: 220px;
        height: 20px;
        font-size: 1.2em;
        font-weight: bold;
        padding: 3px;
    }

    .rightColMenu li a:hover {
        background: #cfe4fa;
    }

    .rightColMenu li ul li a {
        font-size: 1em;
        margin-left: 10px;
        background: none;
    }

    .rightColMenu li ul li a:hover {
        background: none;
    }
