/*
 ***** TAG LEVEL DEFINITIONS *****
 */

body {
	background: #E4E5D2;	
}

b, strong, .bold {
	font-weight: bold;
    font-size: 1em;
}

u {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

em, i {
	font-style: italic;
}

h1 {
	font: bold 1.8em arial;
	color: #333;
	padding: 0px;
	margin: 0px;
}

h2, .dataTable tfoot tr, .bigText {
	font: bold 1.2em arial !important;
}

h2 span {
    font: inherit;
}

h3 {
	color: #000;
	font: bold 14px arial;
}

	h3 a {
		font: inherit;
	}
	
	h3 a:hover {
		font: inherit;
	}

h4, h4 span {
	font: bold 1.2em arial;
	color: #333;
}

h5 {
	font: italic bold 2.5em arial;
	color: #eee;
	text-transform: uppercase;
}

p.label, .label {
	font: italic bold 1em arial;
	color: #ccc;
	text-transform: uppercase;
}

hr {
     height: 1px;
     background: #ccc;
     border: none;
}

.chartAxis1 {
    display: inline-block;
    width: 30px;
    text-align: center;
}

/***** BOXES AND BARS ****************************************************/

.windowFrame {
	width: 100% !important;
    min-height: 200px;
    /*border-top: 2px solid #fff;
	background: #fff url(../images/bgWindow.gif) repeat-x top left;*/
}

.ui-tabs .windowFrame {
    border-top: 1px solid #ccc;
    margin-top: 2px;
}

.hide {
	display: none;
}

#loginBox {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.boxBlue {
	border: 1px solid #bddbf9;
}	

.boxBlue.radius {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.barBlue, .boxBlue {
	background: #ebf4fd;
	width: 100%;	
}
	.barBlue p, .boxBlue p {
		padding: 5px;
	}

    .barBlue p.noPad, .boxBlue p.noPad {
        padding-left: 0px;
    }

	.barBlue.bottom {
		border-bottom: 1px solid #bddbf9;
	}

.boxGray {
    background: #fafaf5;
    border: 1px solid #e8e7d6;
}   

.boxYellow {
	 border: 1px solid #F2BE23;
}

.barYellow, .boxYellow  {
	background: #FFFFD2;
	width: 100%;
}
	.barYellow p, .boxYellow p {
		padding: 5px;
	}

    .barYellow p.noPad, .boxYellow p.noPad {
        padding-left: 0px;
    }

	.barYellow.bottom {
		border-bottom: 1px solid #FBED89;
	}

	.barYellow.top {
		border-top: 1px solid #FBED89;
	}

    .boxYellowInner {
        border: 3px solid #FBED89;
        padding: 8px;
        background: #FFFFD2;
    }

    .boxYellow, .boxYellowInner {
        font: bold 1em arial !important;
    }

.boxGradientGray {
   background: #fff url("../images/headerBG3.gif") repeat-x top;
   -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
   border: 1px solid #E6E1E1;
}

.boxBlue.boxArrowTop:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 8px solid transparent;
	border-bottom-color: #bddbf9;
    bottom: 100%;
    left: 20px;
}

.elementHilite {
     background: #FBED89;
}

.bottomBorderGray {
    border-bottom: 1px solid #e8e7d6;
}

/***** LINK STYLES *******************************************/

a {
	color: #003399 !important;
    font-size: inherit;
	text-decoration: none;
}

a:hover {
	color: #CC6600 !important;
	font-size: inherit;
	text-decoration: none;
}

a.folderCrumb {
    font-weight: bold;
    font-size: 1.2em;
}

.bigLink {
	color: #003399;
	text-decoration: none;
	font: bold 1.7em arial;
}

.bigLink:hover {
	text-decoration: none;
	color: #618FEB;
}

.emphLink {
    border-bottom: 1px dashed #777;
}

.grayLink-allCaps {
    text-transform: uppercase;
    color: #999 !important;
    font-size: 1em;
    font-weight: bold;
}

.grayLink-allCaps:hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: #999 !important;
    font-size: 1em;
    font-weight: bold;
}

.breadCrumb {
    font-weight: bold;
    font-size: 1.1em;
}

/*
 ***** WINDOWS HEADERS ********************************************************
 */

.widgetHead {
	width: 100%;
	height: 28px;
	background: url("../images/bgWindowHeaderGreen.png") repeat-x right top;
	text-align: left;
    cursor: move;
}

	.widgetHead h3 {
		font: bold 1.2em arial;
		color: #333;
		padding-top: 9px;
	}
	
	.widgetControls {
		float: right;
		width: 38px;
		margin-top: 9px;
		margin-right: -2px;
		border-right: 1px solid #dad6ca;
	}
	
	.widgetControls a {
		display: inline-block;
		width: 19px;
		height: 18px;
	}
	
	.widgetControls a span {
	}
	
	.widgetControls .remove {		
		background: url("../images/buttonWindowClose.gif") 0 0 no-repeat;
	}
	
	.widgetControls .collapsible {
		background: url("../images/buttonWindowToggle.gif") 0 -18px no-repeat;
	} 
	
	.widgetListActive {
		padding: 2px 0 2px 24px;
		color: #989696;
		display: none;
	}

    .activateWidget {
        padding: 2px 0 2px 24px;
    }

    .widgetContent {
        border: 1px solid #DFDCDC;
    }

	.widgetContent p {
		padding: 6px;
		min-height: 100px;
	}

	.widgetIcon_rss,.widgetIcon_bugs,.widgetIcon_quotes,.widgetIcon_projects,
	.widgetIcon_notes,.widgetIcon_invoices,.widgetIcon_tasks,.widgetIcon_reports,
	.widgetIcon_calendar,.widgetIcon_messages,.widgetIcon_delicious,.widgetIcon_search,
	.widgetIcon_timer
	{
		padding-left: 40px;
		margin-top: 1px;
		height: 28px;		
		float: left;	
	}	

	.widgetIcon_rss {
		background: url(../images/windowIconRSS.gif) no-repeat left;
	}
	
	.widgetIcon_bugs {
		background: url(../images/windowIconBugs.gif) no-repeat top left;
	}
	
	.widgetIcon_quotes {
		background: url(../images/windowIconQuotes.gif) no-repeat top left;
	}
	
	.widgetIcon_projects {
		background: url(../images/windowIconProjects.gif) no-repeat top left;
	}

	.widgetIcon_notes {
		background: url(../images/windowIconNotes.gif) no-repeat top left;
	}
	
	.widgetIcon_invoices {
		background: url(../images/windowIconInvoices.gif) no-repeat top left;
	}
	
	.widgetIcon_tasks {
		background: url(../images/windowIconTasks.gif) no-repeat top left;
	}

	.widgetIcon_reports {
		background: url(../images/windowIconReports.gif) no-repeat top left;
	}
	
	.widgetIcon_calendar {
		background: url(../images/windowIconCalendar.gif) no-repeat top left;
	}
	
	.widgetIcon_messages {
		background: url(../images/windowIconMessages.gif) no-repeat top left;
	}
	
	.widgetIcon_delicious {
		background: url(../images/windowIconDelicious.gif) no-repeat top left;
	}
	
	.widgetIcon_search {
		background: url(../images/windowIconSearch.gif) no-repeat top left;
	}

	.widgetIcon_timer {
		background: url(../images/windowIconJobTimer.gif) no-repeat top left;
	}

.windowHead, .ui-datepicker-header {
	width: 100%;
	height: 20px;
	background: url(../images/bgGreenBar.gif) repeat-x top left;	
}

.ui-dialog-titlebar {
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	padding-top: 5px;
	height: 20px;
	background: url(../images/bgGreenBar.gif) repeat-x top left;
}

.windowHeadTitle, .ui-dialog-title {
	font: bold 1.2em arial;
	padding-left: 6px;
}

.windowHeadUpdates {
	padding-left: 45px;	
	padding-top: 3px;
	font-family: verdana;
	font-size: 1em;
	font-weight: bold;
	color: #333;
	background: url(../images/iconWindowUpdates.gif) no-repeat top left;
}

.windowHeadEvents {
	padding-left: 45px;	
	padding-top: 3px;
	font: bold 1em arial;
	color: #333;
	background: url(../images/iconWindowEvents.gif) no-repeat top left;
}

/*
 ***** TABLE AND DATA STYLES ********************************************************
 */

.dataTable {
       border-collapse: collapse;
       width: 100%;
       background: #fff;
}

.dataTable.stripes tr {
    border-bottom: 1px solid #e8e7d6;
}

.dataTable tr td {
       padding: 9px 6px 9px 6px;
	   text-align: left;
	   min-height: 27px;
}

.dataTable thead tr th {
    border-bottom: 1px solid #d8d8da;
    border-top: 1px solid #d8d8da;
    text-shadow: 1px 1px #fff;
	background: url(../images/bgButtonGray.png) 100% 0 repeat-x;
    height: 22px;
}

	.dataTable thead tr th.sortHeaderHover {
	    background-color: #eee;
	}

.dataTable thead th {
	font: bold 1em arial;
    text-align: left;
    padding: 9px 4px 0 4px;
}

.dataTable tfoot td, .dataTable tfoot td span {
    font: bold 1.1em arial;
    padding: 6px 0px 6px 0px;    
}

.dataTable tfoot tr {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #FBED89;
    background: #FFFFD2;
	min-height: 23px;
}

.dataTable tfoot tr.plain, .dataTable tfoot tr.plain td {
    background: #fff;
	border-bottom: none;
	height: 1em;
	font: normal 1em arial;
}

div.row {
	min-height: 24px; 
	width: 710px; 
	padding: 3px;
	border-bottom: 1px solid #e8e7d6;
    position: relative;
}

.oddRow {
    background: #fafaf5;
    border-top: 1px solid #e8e7d6;
    border-bottom: 1px solid #e8e7d6;
}

.evenRow {
	border: none;
	background: #fff;
}

.altRow2 {
       background: url("../images/headerBG3.gif") repeat-x top;
       border-top: 2px solid #E6E1E1;
	   padding-top: 5px;
	   padding-bottom: 5px;
}

.rowLines {
    border-top: 1px solid #e8e7d6;
    border-bottom: 1px solid #e8e7d6;
}

.hoverRow {
	/*background: #E7F0FE !important;*/
    background: #f6f6ec !important;
}

.blueRow {
	background: #E7F0FE !important;
}

.altRowStripes {
       background: #fff;
       border-top: 2px solid #E6E1E1;
       border-bottom: 2px solid #E6E1E1;
}

.rowStripesOnly {
       background: #fff url("../images/bgRowStripesOnly.gif") repeat-x top;
       border-top: 2px solid #fff;
       border-bottom: 2px solid #E6E1E1;
}

.withBorder {
    border: 1px solid #E6E1E1;
}

.noBorder {
    border: none !important;
}

.colLeft {
       text-align: right;
       padding-right: 10px;
}

table.layout td {
	padding: 3px;
}

table.infoDisplay {
	width: 100%;
}

table.infoDisplay td.leftCol {
	font: bold 1em arial;
	color: #333;
	text-transform: uppercase;
	vertical-align: top;
	padding: 6px;
}

table.infoDisplay td.rightCol {
	font: 1em arial;
	padding: 6px;
}

td .td_hide_overflow {
	overflow: hidden;
	white-space: nowrap;
}

/*
 ****** GOOGLE MAP STYLE *****
 */

#clientMap {
	width: 675px;
	height: 560px;
	margin-top: 10px;
	border-top: 1px solid #D7D8C6;
}

.clickable {
	cursor: pointer;
}

.popupWindow {
	z-index: 999;
	position: absolute;
	background: #000;
	height: 300px;
}

.rowClick {
	background: #003399;
}

/*
 ****** TEXT STYLES ***** 
 */
.subText, a.subText, .subText a {
	color: #777 !important;
	font: normal 11px arial;
	letter-spacing: 0;
}

a.subText, a.subText:hover, .subText a {
    text-decoration: underline;
}
.subText.black {
	color: #000;
}

.deleted {
    color: #777 !important;
    text-decoration: line-through;
}

/*
 ****** UL STYLES ****** 
 */
 ul {
    font: 1em arial;
    list-style-type: disc;
    list-style-position: inside;
 }

 ol {
    font: 1em arial;
    list-style-position: inside;
 }

.ULStandard li {
	list-style-image: url("../images/icons/bullet_red.gif");
	padding: 2px;
}

ul.plain {
    list-style-image: url("../images/icons/bullet.gif");
    list-style-position: outside;
}

ul.plain li {    
    margin-left: 24px;
}

ul.arrow1 {
    list-style-image: url('../images/icons/arrow-light-brown-r.gif');
    margin-left: 16px;
}

.liFocus {
	background: #E7F0FE;
}

ul.categoryList {
	list-style: none;
}

ul.categoryList li {
	margin: 3px;
	height: 23px;
}

ul.alphaList {
    list-style: none;
}

ul.alphaList li {
    border-bottom: 1px solid #e8e7d6;
	margin: 3px 0 3px 0;
}

ul.alphaList li .letter {
	width: 20px;
	text-align: top;
	color: #ccc;
	font: bold 1.1em arial;
}

ul.alphaList li .content {
	width: 160px;
}

ul.fileListBlock, ul.fileListDetail, ul.fileListPill {
	list-style: none;
	display: inline;
    margin-top: 12px;
}

	ul.fileListBlock li.itemContainer {
		float: left;
		display: inline-block;
		width: 95px;
		height: 95px;
		margin: 3px;
		border: 2px solid #e8e7d6;
		padding: 3px;
		overflow: hidden;
		cursor: pointer;
        background-color: #fff;
	}

    ul.fileListBlock li.fileLinkContainer {
        min-height: 25px;
        overflow: hidden;
    }

	ul.fileListBlock li.itemContainer p {
		margin-top: 60px;
		font-size: .9em;
		line-height: 1em;
		text-align: center;
	}

	ul.fileListBlock li.selected, ul.fileListDetail li.selected {
		border: 2px solid #bddbf9 !important;
        background-color: #ebf4fd !important;
	}

    ul.fileListBlock li.active, ul.fileListDetail li.active, .ui-sortable-placeholder {
		border: 2px solid #F2BE23 !important;
        background-color: #FFFFD2 !important;
        min-height: 40px;
	}

    ul.fileListBlock li.itemContainer p.fileDetails {
        display: block;
    }

    ul.fileListDetail li.itemContainer {
        width: 40%;
        overflow: hidden;
        display: inline-block;
        background-position: top left;
        background-color: #fff;
        border: 2px solid #fff;
        padding: 2px 1px 2px 50px;
        float: left;
        min-height: 48px;
        margin: 0 0 18px 12px;
        cursor: pointer;
    }

    ul.fileListDetail li .smallButtonCluster {
        width: 50px !important;
    }

    ul.fileListDetail li.itemContainer p.fileDetails {
        display: block;
        font-size: .9em;
    }

    ul.fileListDetail li.itemContainer p.fileDetails span.title {
        font-size: inherit;
        font-weight: bold;
    }

    ul.fileListDetail li.fileLinkContainer {
        overflow: auto;
    }

    ul.fileListDetail li.itemContainer p {
        font-size: 1em;
        text-align: left;
    }

    ul.fileListDetail li.itemContainer p.title {
        font-size: 1em;
        font-weight: bold;
    }
    
    ul.fileListPill li.itemContainer {
        color: #000;
        font-size: 13px !important;
        background-color: #ddeefe;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddeefe), to(#bfe0f1));
        border: 1px solid #acc3ec;
        border-top-color: #c0d9e9;
        padding: 2px 7px 2px 10px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        float: left;
        margin: 3px;
    }
    
    ul.fileListPill li.itemContainer span {
        float: left;
        display: block;
        width: 160px;
        overflow: hidden;
    }
    
    ul.fileListPill li.itemContainer .as-close {
        float: right;
        margin: 1px 0 0 7px;
        padding: 0 2px;
        cursor: pointer;
        color: #5491be;
        font-family: "Helvetica", helvetica, arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0 1px 1px #fff;
        -webkit-transition: color .1s ease-in;
    }    

ul.fileList, ul.noBullet {
	list-style: none;
}
	ul.fileList li {
		min-height: 20px;
		padding-top: 2px;
	}

	ul.fileList .linkContainer {
		overflow: hidden;
	}

    ul.fileList li.fileLinkContainer {
        overflow: hidden;
        width: 100%;
    }

.fileInfoContainer {
    min-height: 50px;
    padding-left: 45px;
    margin: 12px 0 12px;
    background-position: left;
}

ul.iconList li {
    padding: 3px 0 3px 24px;
}

ul.listLined {
	list-style-type: none;
}

ul.listLined li {
	border-bottom: 1px solid #DFDCDC;
	padding: 3px 0 3px 0;
}

ul.language li {
    list-style-image: url("../images/icons/balloon_gray.png");
    padding: 1px 0 1px 0;
}

ul.language li.active {
    list-style-image: url("../images/icons/balloon.png");
    padding: 1px 0 1px 0;
    font-weight: bold;
}

ul.fileTree li {
    cursor: pointer;
    min-height: 0px !important;
	padding-top: 0px !important;
}

ul.fileTree li.hover {
    background-color: #BDF;
}

ul.dropDownMenu {
    display: none;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-topright: 5px;
    -webkit-border-radius-bottomright: 5px;
    -webkit-border-radius-bottomleft: 5px;
    border: 1px solid #bddbf9;
    background-color: #ebf4fd;
    padding: 6px;
    list-style-type: none;
    -moz-box-shadow: 0px 3px 6px #ccc;
    -webkit-box-shadow: 0px 3px 6px #CCC;
    box-shadow: 0px 3px 6px #CCC;
}

    ul.dropDownMenu li {
        margin-bottom: 3px;
    }

/*
 ****** JOB TIMER STYLES *****
 */
.timerClockReadout, .timerClockReadout:hover {
	font: bold 20px arial;
	color: #333;
	padding-left: 30px;
	text-decoration: none;
}

/*
 ****** SWF UPLOAD STYLES *****
 */
.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 3px;
	padding: 3px;
	border: solid 1px #bddbf9;
	background-color: #ebf4fd;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}

.progressName {
	font: bold .9em arial;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 4px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: .8em;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	display: block;
	height: 10px;
	width: 10px;
	background-image: url(../images/icons/deleteSmall.png) no-repeat !important;
	float: right;
}

/*
 ***** FILE MANAGER USAGE METER
 */
.fileManagerMeter {
    width: 200px;
    height: 20px;
    border: 1px solid #e1dfdf;
    background: #eee;
}

.fileManagerMeterBar {
    height: 20px;
    background: url(../images/bar1BG.gif) repeat-x;
}

.fileManagerMeterText {
	padding: 1px 0 1px 0;
}

/*
 ***** AVATAR STYLES *****
 */
.avatar80 {
	width: 80px;
	height: 80px;
    display: block;
}

.avatar80.left {
    float: left;
    margin-right: 12px;
}
.avatar80.default {
	background: url(../images/avatars/stockAvatar80.png) no-repeat;
}

.avatar46 {
	width: 46px;
	height: 46px;
    display: block;
}
.avatar46.left {
    float: left;
    margin-right: 12px;
}
.avatar46.default {
	background: url(../images/avatars/stockAvatar46.png) no-repeat;
}

.avatar33 {
	width: 33px;
	height: 33px;
    display: block;
}
.avatar33.left {
    float: left;
    margin-right: 12px;
}
.avatar33.default {
	background: url(../images/avatars/stockAvatar33.png) no-repeat;
}

.avatar22 {
	width: 22px;
	height: 22px;
    display: block;
}
.avatar22.left {
    float: left;
    margin-right: 12px;
}
.avatar22.default {
	background: url(../images/avatars/stockAvatar22.png) no-repeat;
}

.colorBlock {
	display: inline-block;
	width: 12px;
	height: 10px;
	margin: 4px 6px 0 0;
    border-radius: 3px;
}

.colorBlock.big {
	width: 20px;
	height: 15px;
	margin: 3px;
}

.colorBlock.off {
	background: #eee !important;
	border: 1px solid #ccc;
}

.colorBackground {
	padding: 3px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.colorBackground.label {
    display: inline-block;
    padding: 2px 6px 2px 6px;
    font: normal 12px arial;
    text-transform: none;
    color: #333;
}    

.colorBackground.status {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

.taskOff {
    display: none;
}

.scrollerHeadline {
    position: absolute;
    top: 210px;
	height: 195px;
	width: 95%;
}

.mTop3 {
    margin-top: 3px;
}

.mTop6 {
    margin-top: 6px;
}

.mTop, .mTop12 {
    margin-top: 12px;
}

.mBottom, .mBottom12 {
    margin-bottom: 12px;
}

.mBottom18 {
    margin-bottom: 18px;
}

.mBottom24 {
    margin-bottom: 24px;
}

.mTop18 {
    margin-top: 18px;
}

.mLeft6 {
    margin-left: 6px;
}

.mRight6 {
    margin-right: 6px;
}

.mLeft12 {
    margin-left: 12px;
}

.mRight12 {
    margin-right: 12px;
}

.mLeft12 {
    margin-left: 12px;
}

.mTop24 {
    margin-top: 24px;
}

.mRight24 {
    margin-right: 24px;
}

.mLeft24 {
    margin-left: 24px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto 0 auto;
}

/* jQuery Qtip stuff */
.qtip-wrapper {
    border-radius: 8px;
    -moz-box-shadow:    0px 3px 6px #ccc;
    -webkit-box-shadow: 0px 3px 6px #ccc;
    box-shadow:         0px 3px 6px #ccc;
}

.fileUploadBox {
    border: 2px dashed #E8E7D6;
    background: #FAFAF5 url(../images/icons/cloud_upload_on.png) 12px 7px no-repeat;
    width: 90%;
    margin: 12px 0 12px 0;
    min-height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 9px 9px 9px 52px;
    font-weight: bold;
}

.fileUploadBox.hover {
    border-color: #F2BE23;
    background: #FFFFD2 url(../images/icons/cloud_upload_on.png) 12px 7px no-repeat;
}

.fileUploadBox.small {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    min-height: 20px;
    padding: 5px 3px 0 8px;
    width: 90%;
}

.fileUploadBox.small.hover {
    background-color: #FFFFD2;
    border: 2px dashed #F2BE23;
    padding: 3px 3px 0 6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.dragDropUploadContainer .plupload {
    width: 0px !important;
    height: 0px !important;
}

.progressBar .caption {
    float: left;
    margin-left: 50%;
    margin-top: 3px;
    font-weight: bold;
    text-shadow: 0px 1px 0 #fff;
}

/***************************/
.notificationContainer {
    width: 100%;
    height: 300px;
    overflow: scroll;
}

.notificationContainer div {
    padding: 12px 0 12px 6px;
    border-bottom: 1px solid #eee;
    clear: both;
}

.bubble {
    display: block;
    position: absolute;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: 2px solid #fff;
    z-index: 100;
    font-size: 11px;
    height: 14px;
    font-weight: normal;
    padding: 0 4px 0 4px;
    line-height: 14px;
}

.bubble.red {
    color: #fff !important;
    background: #ffa0a0;
    background: -moz-linear-gradient(top, #ffa0a0 0%, #ff1900 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa0a0), color-stop(100%,#ff1900));
    background: -webkit-linear-gradient(top, #ffa0a0 0%,#ff1900 100%);
    background: -o-linear-gradient(top, #ffa0a0 0%,#ff1900 100%);
    background: -ms-linear-gradient(top, #ffa0a0 0%,#ff1900 100%);
    background: linear-gradient(to bottom, #ffa0a0 0%,#ff1900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa0a0', endColorstr='#ff1900',GradientType=0 );
}

.bubble.yellow {
    color: #000 !important;
    background: #fce7a9;
    background: -moz-linear-gradient(top, #fce7a9 0%, #febf01 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce7a9), color-stop(100%,#febf01));
    background: -webkit-linear-gradient(top, #fce7a9 0%,#febf01 100%);
    background: -o-linear-gradient(top, #fce7a9 0%,#febf01 100%);
    background: -ms-linear-gradient(top, #fce7a9 0%,#febf01 100%);
    background: linear-gradient(to bottom, #fce7a9 0%,#febf01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce7a9', endColorstr='#febf01',GradientType=0 );
}

.bubble.green {
    color: #000 !important;
    background: #bfee38;
    background: -moz-linear-gradient(top, #bfee38 0%, #92ba29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfee38), color-stop(100%,#92ba29));
    background: -webkit-linear-gradient(top, #bfee38 0%,#92ba29 100%);
    background: -o-linear-gradient(top, #bfee38 0%,#92ba29 100%);
    background: -ms-linear-gradient(top, #bfee38 0%,#92ba29 100%);
    background: linear-gradient(to bottom, #bfee38 0%,#92ba29 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfee38', endColorstr='#92ba29',GradientType=0 );
}

.bubble.right {
    right: -9px;
}

.bubble.left {
    left: -9px;
}

.bubble.bottom {
    bottom: -9px;
}

.bubble.top {
    top: -9px;
}

.shadow {
    -moz-box-shadow:    0 1px 4px 0 #ccc;
    -webkit-box-shadow: 0 1px 4px 0 #ccc;
    box-shadow:         0 1px 4px 0 #ccc;
}    

.projectKnobContainer {
    display: inline-block;
    width: 33%;
    text-align: center;
}