/* PunyMCE textarea CSS */

body, td { 
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-style: normal;
	font-size: 12px;
	line-height: 17px;
	color: #333;
}
a { color: blue !important; } /* FF needs important */